## Connect and populate DB
This notebook shows how to connect to the database and populate it using csv files.

### Import libraries

In [1]:
from neo4j import GraphDatabase
from pandas import DataFrame

In [2]:
driver = GraphDatabase.driver("neo4j://localhost:7687", auth=("neo4j", "neo4jbinder"))

### Command to populate the database

In [3]:
# Create person nodes
create_person = """
        LOAD CSV WITH HEADERS FROM 'file:///data/person.csv' AS row
        CREATE (p:Person {id: toInteger(row.ID), 
        name: row.Contact, email: row.email,
        orcid: 'https://orcid.org/0000-0001-7655-2459'})""" % ()

# Creates institute nodes
create_institute = """
    LOAD CSV WITH HEADERS FROM 'file:///data/institutes.csv' AS row
    CREATE (i:Institute {id: toInteger(row.ID),
    name: row.Institute})
    """

# Create project nodes
create_project = """
    LOAD CSV WITH HEADERS FROM 'file:///data/competences.csv' AS row
    CREATE (p:Project {id: toInteger(row.ID),
    name: row.Project})
    """

# Add Project -> Institute edges
add_institute_data = """
    LOAD CSV WITH HEADERS FROM 'file:///data/competences.csv' AS row
    WITH row where row.Focus1 is not null
    MATCH (p:Project {id: toInteger(row.ID)}),
    (i:Institute {id: toInteger(row.Focus1)}) 
    CREATE (i)-[w:PROJECT {name: 'Focus1'}]->(p)
    WITH row where row.Focus2 is not null
    MATCH (p:Project {id: toInteger(row.ID)}),
    (i:Institute {id: toInteger(row.Focus2)}) 
    CREATE (i)-[w:PROJECT {name: 'Focus2'}]->(p)
    WITH row where row.Focus3 is not null
    MATCH (p:Project {id: toInteger(row.ID)}),
    (i:Institute {id: toInteger(row.Focus3)}) 
    CREATE (i)-[w:PROJECT {name: 'Focus3'}]->(p)
    """
# Add Institute -> Person data
add_person = """
    LOAD CSV WITH HEADERS FROM 'file:///data/group.csv' AS row
    MATCH (p:Person {id: toInteger(row.personID)}),
    (d:Project {id: toInteger(row.projectID)})
    CREATE (d)-[:PEOPLE]->(p)
    """

# Add person meta data such as skills and pathogens

create_skills = """
    LOAD CSV WITH HEADERS FROM 'file:///data/skills.csv' AS row
    FIELDTERMINATOR ';'
    CREATE (s:Skill {id: toInteger(row.ID),
    skill: row.Skill})
    """

create_pathogens = """
    LOAD CSV WITH HEADERS FROM 'file:///data/pathogens.csv' AS row
    CREATE (b:Bacteria {id: toInteger(row.ID),
    pathogen: row.Pathogens})
    """
# Person -> Skill
add_skill_data = """
    LOAD CSV WITH HEADERS FROM 'file:///data/person.csv' AS row
    WITH row where row.Skill_1 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (s:Skill {id: toInteger(row.Skill_1)})
    CREATE (p)-[:SKILLS]->(s)
    WITH row where row.Skill_2 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (s:Skill {id: toInteger(row.Skill_2)})
    CREATE (p)-[:SKILLS]->(s)
    WITH row where row.Skill_3 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (s:Skill {id: toInteger(row.Skill_3)})
    CREATE (p)-[:SKILLS]->(s)
    WITH row where row.Skill_4 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (s:Skill {id: toInteger(row.Skill_4)})
    CREATE (p)-[:SKILLS]->(s)
    WITH row where row.Skill_5 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (s:Skill {id: toInteger(row.Skill_5)})
    CREATE (p)-[:SKILLS]->(s)
    WITH row where row.Skill_6 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (s:Skill {id: toInteger(row.Skill_6)})
    CREATE (p)-[:SKILLS]->(s)
    """

# Person -> Pathogen
add_bacterial_data = """
    LOAD CSV WITH HEADERS FROM 'file:///data/person.csv' AS row
    WITH row where row.Pathogen_1 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_1)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_2 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_2)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_3 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_3)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_4 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_4)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_5 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_5)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_6 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_6)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_7 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_7)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_8 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_8)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_9 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_9)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_10 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_10)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_11 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_11)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_12 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_12)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_13 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_13)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_14 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_14)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_15 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_15)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_16 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_16)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_17 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_17)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_18 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_18)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    WITH row where row.Pathogen_19 is not null
    MATCH (p:Person {id: toInteger(row.ID)}),
    (b:Bacteria {id: toInteger(row.Pathogen_19)})
    CREATE (p)-[:PATHOGEN {name: 'Specializes_in'}]->(b)
    """

### Populate the database 
First create then add data

In [4]:
with driver.session() as session:
    session.run(create_person)
    session.run(create_institute)
    session.run(create_project)

In [5]:
with driver.session() as session:
    session.run(add_institute_data)
    session.run(add_person)

In [6]:
with driver.session() as session:
    session.run(create_skills)
    session.run(create_pathogens)

In [7]:
with driver.session() as session:
    session.run(add_skill_data)

In [8]:
with driver.session() as session:
    session.run(add_bacterial_data)

### Explore the content of the database

In [12]:
with driver.session() as session:
    result = session.run("MATCH (p:Person) RETURN p.name AS name")
    df = DataFrame(result.data())
df

                    name
0        Gildas Albarado
1              Yi Mullen
2          Stuart Hoback
3       Federico Ryckman
4        Jordi Kissinger
5        Philip Halfacre
6             Paolo Munn
7          Manoj Meiners
8          Vincent Shock
9        Marco Kittleson
10         Philipp Espey
11           Nick Hemond
12              Sven Doe
13       Katrina Bradley
14           Mark Ehmann
15            Erwan Buse
16         Sergei Hodson
17         Niklas Nilsen
18         Lucia Fielder
19         Roland Marcin
20      Alexander Bahena
21        Carole Cassady
22      Graziano Neptune
23       Antonio Sturgis
24           Asis Picone
25    Frederik Messenger
26          Bj�rn Bartee
27         Cedric Arvizo
28            Jen Ryland
29       Jean-Karim Bova
30          Serena Gault
31        Loraine Towers
32       Fran�ois Squire
33       Ammar Ambrosino
34           Petr Mackay
35           Alex Giroux
36          Michael Roux
37              Bj�rn Ku
38        Friederike Gil
39           Andrea Vale
40            Luca Bondi
41  Jan-Willem Debartolo
42      Raphael Overturf
43        Stian Hepworth